{
  "printWidth": 100,
  "singleQuote": true,
  "tailwindStylesheet": "./src/styles/tailwind.css",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
