**/.git
**/__pycache__
**/.venv
**/node_modules
**/dist
**/.devcontainer
**/.github
**/.vscode
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.coverage
**/htmlcov
**/*.egg-info
frontend/dist
infra/manifests
infra/scripts
