:host {
  display: block;
  height: 100vh;
}

.landing-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.brand-logo {
  height: 38px;
  width: 48px;
}

:host-context(html.dark) .brand-logo {
  filter: brightness(0) invert(1);
}

@media (prefers-color-scheme: dark) {
  :host-context(html:not(.light)) .brand-logo {
    filter: brightness(0) invert(1);
  }
}
