:host {
  display: block;
  height: 100vh;
}

.landing-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

// .landing-card {
//   max-width: 400px;
//   padding: 48px 32px 32px;
//   text-align: center;
//   width: 90vw;
// }

// .actions {
//   display: flex;
//   flex-direction: column;
//   gap: 12px;
// }

// .landing-footer {
//   color: var(--mat-sys-on-background, #666);
//   font-size: 0.82rem;
//   margin-top: 32px;
//   text-align: center;
// }

// .landing-footer a {
//   color: inherit;
//   text-decoration: underline;
// }
